*
{
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px; 
    margin: 0;
    padding: 0;
    text-align: center;
}

body 
{
  font-family: 'Ubuntu', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  display: block;
  align-items: center;
  justify-content: center;
  margin: 0;
  min-height: 100vh;
  background: var(--bg);
  background-image: url("Gradient.png"); 
  background-size: cover;
}

@keyframes press{
    from {top: 0px}
    to {top: 2px}
}
/* hyperlink*/
a
{
    border: none;
    border-color: transparent;
    border-radius: 5px;
    color: #33ccff;
    font-size: 20px;
    outline: none;
    outline-color: transparent;
    text-decoration: none;
    transition: 0.1s;
    position: relative;
    animation-duration: 0.15s;
    animation-fill-mode: forwards;
}
a:focus-visible
{
    outline: solid;
    outline-color: #5aa6f3;
    outline-width: 2px;
}
a:hover
{
    color: #3997f5;
    animation-name: press;
}
a:active
{
    color: #3366ff;
}

.confirmation-dialog {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    padding: 20px;
    max-width: 300px;
    margin: 0 auto;
}

  .confirmation-dialog h2 {
    font-size: 18px;
    margin-top: 0;
}

  .confirmation-dialog button {
    background-color: #e53935;
    border: none;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

  .confirmation-dialog button.cancel {
    background-color: #ccc;
    margin-right: 10px;
}


/*
button
{
    background: transparent;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    overflow-wrap: break-word;  
    outline: 1px solid transparent;
    border-color: transparent;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
    font-size: 30px;
    height: 50px;
    margin: 10px;
    outline: none;
    outline-color: transparent;
    transition: 0.1s;
    width: 20%;
    min-width: 150px;
}

button:focus-visible{
    outline: solid;
    outline-color: #3399ff;
    outline-width: 2px;
}

button:hover
{
    border: solid;
    border-color: #339900;
}

button:active
{
    border: solid;
    border-color: #336600;
} */

@import url('https://fonts.googleapis.com/css?family=Rubik:700&display=swap');
:root
{
    /* buttons */
    --bg: #fff;
    --text: #382b22;
    --light-pink: #fff0f0;  /*fff0f0;*/
    --pink: #ffe9e9;        /*ffe9e9;*/
    --dark-pink: #f9c4d2;   /*f9c4d2;*/
    --pink-border: #b18597; /*b18597;*/
    --pink-shadow: #5e4746; 

    /* animation colors */
    --color1: #00b594;
    --color2: #cdfbba;
    --color3: #e46cff;
}


* {
  box-sizing: border-box;
}
*.box-sizing:before, *.box-sizing:after {
   box-sizing: border-box;
}

button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  font-size: inherit;
  font-family: inherit;
  margin-top:10px;
  margin-bottom:10px;
}

.mainButton {
    font-weight: 600;
    color: var(--text);
    text-transform: none;
    padding: 0.75em 1em;
    background: var(--light-pink);
    border: 2px solid var(--pink-border);
    border-radius: 0.5em;
    transform-style: preserve-3d;
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);
}
    .mainButton:before {
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: var(--dark-pink);
      border-radius: inherit;
      box-shadow: 0 0 0 2px var(--pink-border), 0 0.625em 0 0 var(--pink-shadow);
      transform: translate3d(0, 0.5em, -1em); /*button dimemsion*/
      transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
    }
    .mainButton:hover {
      background: var(--pink);
      transform: translate(0, 0.25em);
    }
      .mainButton:hover:before {
        box-shadow: 0 0 0 2px var(--pink-border), 0 0.45em 0 0 var(--pink-shadow);
        transform: translate3d(0, 0.25em, -1em);
      }
    
      .mainButton:active {
      background: var(--pink);
      transform: translate(0em, 0.75em);
      }
      
      .mainButton:active:before {
        box-shadow: 0 0 0 2px var(--pink-border), 0 0 var(--pink-shadow);
        transform: translate3d(0, 0, -1em);
      }

input[type="text"],input[type="password"]
{
    background: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    outline: none;
    outline-color: transparent;
    transition: 0.1s;
    width: 80%;
}

input[class="editContact"]
{
    background: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    outline: none;
    outline-color: transparent;
    transition: 0.1s;
    width: 80%;
}

input[type="text"]:focus,input[type="password"]:focus
{
    outline: solid;
    outline-color: #3399ff;
    outline-width: 4px;
}

.error
{
    background: rgba(255, 51, 51, .5);
    border: solid;
    border-color: #ff3333;
    border-radius: 5px;
    border-width: 1px;
    color: #ffffff;
    display: none;
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    white-space: pre-line;
    width: 80%;
}

.mainContent
{
    background: #6d5656;
    border: solid;
    border-width: 1px;
    border-color: #4d4d4d;
    border-radius: 10px;
    padding: 30px;
    
    position: relative;
    overflow: hidden;
}

.popup
{
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    display: none;
    height: 100%;
    left: 0;
    overflow: auto;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.popupContent
{
    background: #6d5656;
    border: solid;
    border-width: 1px;
    border-color: #4d4d4d;
    border-radius: 10px;
    margin: 15% auto;
    padding: 30px;
    width: 30%;
}

.success
{
    background: rgba(51, 255, 51, .5);
    border: solid;
    border-color: #33ff33;
    border-radius: 5px;
    border-width: 1px;
    color: #382b22;
    display: none;
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    white-space: pre-line;
    width: 50%;
}

#homeDiv {
    margin-left: 0%;
    margin-right: 0%;
    position: relative;
}

#addDiv {
    margin-left: 0%;
    margin-right: 0%;
    position: relative;
}

@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@keyframes rotation {
    0% {
      --gradient-angle: 0deg;
    }
    100% {
      --gradient-angle: 360deg;
    }
}
  
.bordContent {
    margin-left: 15%;
    margin-right: 15%;
    position: relative;
}

#marginlessBorder {
    margin-left: 0%;
    margin-right: 0%;
    position: relative;
}

#marginlessBorder::before,
#marginlessBorder::after {
    border-radius: 0px;
}

.bordContent::before,
.bordContent::after {
    content: "";
    position: absolute;
    inset: -0.25rem;    /* controls the size of the shape */
    z-index: -1;        /* puts shape behind the mainContent*/
    background: conic-gradient(
      from var(--gradient-angle),
      var(--color1),
      var(--color2),
      var(--color3),
      var(--color2),
      var(--color1)
    );
    border-radius: 10px;
    animation: rotation 7s linear infinite; /* controls the speed of the animation */
}
  
.bordContent::after {
    filter: blur(0.5rem); /* controls how blurry the glow is */
}

/* See https://fonts.google.com/icons for information on settings */
.material-symbols-rounded {
    font-variation-settings:
    'FILL' 1,
    'wght' 700,
    'GRAD' 0,
    'opsz' 48;
    vertical-align: middle;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48;
  background-color: transparent;
  color:white;
}

.material-symbols-outlined:hover {
    font-variation-settings:
    'FILL' 0,
    'wght' 550,
    'GRAD' 0,
    'opsz' 48;
    text-shadow: 0px 0px 0.5px white;
}

.material-symbols-outlined:active {
    animation-name: press;
    animation-duration: 0.15s;
    animation-fill-mode: forwards;
}

.icon-container {
    width: 0px;
    height: 20px;
    display: inline-block;
    position: relative;
}

.passwordVisibility
{
    cursor: pointer;
    margin-left: -50px;
    user-select: none;
}

#addContactButton
{
    background: var(--pink);
    border: 2px solid var(--pink-border);
    border-radius: 10px;
    font-size: 40px;
    height: 50px;
    margin-right: 10px;
    transition: 0.2s;
    width: 50px;
}

#addContactButton:hover
{
    background: var(--pink);
    transform: rotate(90deg);
}

#addContactButton:active
{
    background: var(--dark-pink);
    transform: rotate(90deg);
}

#buttonDiv
{
    margin-left: 10%;
    margin-right: 10%;
}

#confirmPassword
{
    margin-left: +4px;
}

#footerDiv
{
    margin-left: 10%;
    margin-right: 10%;
}

#inner-title
{
    color: #ffffff;
    display: inline-block;
    font-size: 40px;
    margin-top: 0px;
    margin-bottom: 10px;
    width: 100%;
}

#linkPretext
{
    color: #ffffff;
    display: inline-block;
    font-size: 20px;
    margin: 10px;
}

#loggedInDiv
{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

#loginPassword
{
    margin-left: +4px;
}

#registerPassword
{
    margin-left: +4px;
}

#searchContacts
{
    width: 90%;
}

#searchContactsResult
{
    display: none;
}

#searchDiv
{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    display: flex;
}

#contactList
{
    width: 70%;
    color: #ffffff;
    font-size: 26px;
    margin-top: 30px;
    text-align: left;

    background: #6d5656;    /*333333;*/
    border: solid;
    border-width: 1px;
    border-color: #4d4d4d;
    border-radius: 10px;
    margin-left: 15%;
    margin-right: 15%;
    text-space: 40px;
    padding: 30px;
}

#title 
{
    color: #4d4d4d;
    font-size: 40px;
    margin-bottom: 30px;
    margin-top: 30px; 
}

#username
{
    color: #ffffff;
    display: inline-block;
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
}
