*
{
    font-family: 'Ubuntu', sans-serif;
    font-size: 0px;
    margin: 0;
    padding: 0;
    text-align: center;
}

a
{
    border: none;
    border-color: transparent;
    border-radius: 5px;
    color: #33ccff;
    font-size: 20px;
    outline: none;
    outline-color: transparent;
    text-decoration: none;
    transition: 0.1s;
}

a:focus-visible
{
    outline: solid;
    outline-color: #3399ff;
    outline-width: 2px;
}

a:hover
{
    color: #3399ff;
}

a:active
{
    color: #3366ff;
}

body 
{
    background: #1a1a1a;
}

button
{
    background: transparent;
    border: none;
    border-color: transparent;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
    font-size: 30px;
    height: 50px;
    margin: 10px;
    outline: none;
    outline-color: transparent;
    transition: 0.1s;
    width: 20%;
}

button:focus-visible{
    outline: solid;
    outline-color: #3399ff;
    outline-width: 2px;
}

button:hover
{
    border: solid;
    border-color: #339900;
}

button:active
{
    border: solid;
    border-color: #336600;
}

input[type="text"],input[type="password"]
{
    background: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 30px;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    outline: none;
    outline-color: transparent;
    transition: 0.1s;
    width: 80%;
}

input[type="text"]:focus,input[type="password"]:focus
{
    outline: solid;
    outline-color: #3399ff;
    outline-width: 4px;
}

.error
{
    background: rgba(255, 51, 51, .5);
    border: solid;
    border-color: #ff3333;
    border-radius: 5px;
    border-width: 1px;
    color: #ffffff;
    display: none;
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    white-space: pre-line;
    width: 80%;
}

.mainButton
{
    background: #33cc00;
}

.mainButton:hover
{
    background: #339900;
}

.mainButton:active
{
    background: #336600;
}

.mainContent
{
    background: #333333;
    border: solid;
    border-width: 1px;
    border-color: #4d4d4d;
    border-radius: 10px;
    margin-left: 25%;
    margin-right: 25%;
    padding: 30px;
}

/* See https://fonts.google.com/icons for information on settings */
.material-symbols-rounded {
    font-variation-settings:
    'FILL' 1,
    'wght' 700,
    'GRAD' 0,
    'opsz' 48
}

.passwordVisibility
{
    cursor: pointer;
    margin-left: -34px;
    user-select: none;
}

#addContactButton
{
    background: #33cc00;
    font-size: 40px;
    height: 50px;
    transition: 0.2s;
    width: 50px;
}

#addContactButton:hover
{
    background: #339900;
    transform: rotate(90deg);
}

#addContactButton:active
{
    background: #336600;
    transform: rotate(90deg);
}

#buttonDiv
{
    margin-left: 10%;
    margin-right: 10%;
}

#confirmPassword
{
    margin-left: -10px;
}

#contactsDiv
{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    display: flex;
}

#footerDiv
{
    margin-left: 10%;
    margin-right: 10%;
}

#inner-title
{
    color: #ffffff;
    display: inline-block;
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
}

#linkPretext
{
    color: #ffffff;
    display: inline-block;
    font-size: 20px;
    margin: 10px;
}

#loggedInDiv
{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

#loginPassword
{
    margin-left: -10px;
}

#registerPassword
{
    margin-left: -10px;
}

#searchContacts
{
    width: 90%;
}

#searchContactsResult
{
    display: none;
}

#title 
{
    color: #ffffff;
    font-size: 40px;
    margin-bottom: 30px;
    margin-top: 30px;
}

#username
{
    color: #ffffff;
    display: inline-block;
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
}
